@font-face {
  font-family: "Beef'd";
  src: url("../fonts/Beef'd.ttf");
}

html, body {
  padding: 0;
  margin: 0;
  background-image: url("../img/mainpagebrush.svg");
  /* TODO do somethign about the background not fitting */
  /* also the background is different on the input landing than on the landing, but I'm leaving it for now*/
  height: 100%;
}

.section-container {
  height: 100vh;
  width: 100vw;
  display: table;
  position: relative;
}

.section {
  height: 90vh;
  width: 100vw;
  display: table;

}

.next {
  height: 10vh;
  width: 100vw;
  display: table;
  text-align: center;

}

/* ref: https://stackoverflow.com/questions/396145/how-to-vertically-center-a-div-for-all-browsers */
.vertically-centered {
  display: table-cell;
  vertical-align: middle;
}

.container {
  width: 60vw;
  margin-left: 20vw;
  margin-right: 20vw;
}

.collapsed {
  display: none;
}

.faq-collapsed {
  display:none;
}

.section-text{
  font-size: 20pt;
}

.faq-title{
  font-size: 25pt;
}

#left-greeting {
  width: 50vw;
  float: left;
  margin-left: 15px;
}

#right-greeting {
  width: 50vw;
  float: right;
  text-align: right;
  margin-right: 15px;
}
