@font-face {
  font-family: "Beef'd";
  src: url("../fonts/Beef'd.ttf");
}

html {
  background-position: right;
  background-repeat: no-repeat;
}

html, body {
  padding: 0;
  margin: 0;
  font-weight: 300;
  height: 100%;
  font-family: 'Montserrat';
}

#inputLanding {
  background-image: url("../img/cookieintrobrush.svg");
  background-size: cover;
  overflow: none;
}

.section-container {
  height: 100vh;
  width: 100vw;
  display: table;
  position: relative;
}


.section {
  height: 90vh;
  width: 100vw;
  display: table;

}

.next {
  height: 10vh;
  width: 100vw;
  display: table;
  text-align: center;
}

.downarrow {
  height: 30px;
  width: 30px;
}

.hi {
  font-weight: 300;
  text-align: left;
}

/* ref: https://stackoverflow.com/questions/396145/how-to-vertically-center-a-div-for-all-browsers */
.vertically-centered {
  display: table-cell;
  vertical-align: middle;
}

.screwyou {
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
}

.yourname {
  background: none;
  border-radius: 0px;
  border-style: none;
  max-width: 100%;
  border-bottom: solid 1px black;
  font-size: 100px;
  font-weight: 500;
  margin-top: 40px;
  letter-spacing: 3px;
  
}

.container {
  width: 60vw;
  margin-left: 20vw;
  margin-right: 20vw;
}

.collapsed {
  display: none;
}

.faq-collapsed {
  display:none;
}

/* Elements */

#right-greeting {
  width: 50vw;
  float: right;
  text-align: right;
  margin-right: 40px;
  margin-top: 180px;
}

#left-greeting {
  width: 50vw;
  float: left;
  margin-left: 15px;
}

/* Text */

p, td {
  font-size: 25pt;
}

#right-greeting-name{
  font-size: 40pt;
  font-weight: 200;
}

#right-greeting-date{
  margin-top: 50px;
  margin-bottom: 0;
  width: auto;
  font-size: 50pt;
  font-weight: 700;
}

#right-greeting-details{
  margin-top: 1vw;
  font-size: 15pt;
  font-weight: 300;
}

#wrong-name{
  font-size: 10pt;
  font-weight: 300;
  text-decoration: underline;
  margin-top: -10px;
  cursor: pointer;
}

#makes-bg {
  position: absolute;
  z-index: -1;
  top: 40%;
  font-family: "Beef'd";
  color: rgba(0,0,0,0.18);
  margin-left: -50px;
  margin-top: -20px;
  font-size: 40pt;
}

#register{
  position: absolute; 
  bottom: 30px;
  left: 30px;
  font-size: 15pt;
  font-weight: 600;
  color: black;
}

#faq-1, #faq-2, #faq-3, #faq-4, #faq-5, #faq-6{
  font-size: 20pt;
}

@media(max-width: 1017px) {
  #makes-bg {
    font-size: 30pt;
  }
}

@media(max-width: 804px) {
  #makes-bg {
    color: rgba(0,0,0,0.1);
  }
}

@media(max-width: 612px) {
  #makes-bg {
    color: rgba(0,0,0,0.07);
    font-size: 25pt;
  }

  #right-greeting {
    width: auto;
    margin-right: 20px;
  }
}

@media(max-width: 500px) {
  #right-greeting {
    margin-top: 120px;
  }

  #right-greeting-name {
    font-size: 40px;
  }

  #right-greeting-date {
    font-size: 50px;
  }

  #register {
    font-size: 10pt;
  }
}

@media(max-width: 971px) {
  p, td, tr {
    font-size: 20pt;
  }
  #faq-1, #faq-2, #faq-3, #faq-4, #faq-5, #faq-6 {
    font-size: 17pt;
  }
}

@media(max-width: 625px) {
  .container {
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
  }
}

@media(max-width: 550px) {
  p, td, tr {
    font-size: 15pt;
  }
  #faq-1, #faq-2, #faq-3, #faq-4, #faq-5, #faq-6 {
    font-size: 13pt;
  }
}

@media(max-width: 953px) {
  .yourname {
    font-size: 70px;
  }
}

@media(max-width: 661px) {
  .yourname {
    font-size: 50px;
    letter-spacing: 2px;
  }

  .screwyou {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media(max-width: 512px) {
  .yourname {
    font-size: 40px;
  }

  .screwyou {
    padding-left: 25px;
    padding-right: 25px;
  }
}

ul {
  margin: 10px;
  list-style-type: circle;
}

ul li {
  font-size: 24px;
}
