@font-face {
  font-family: "Beef'd";
  src: url("../fonts/Beef'd.ttf");
}

html, body {
  padding: 0;
  margin: 0;
  background: white;
  height: 100%;
}

.section {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  display: table;

  border-color: black;
  border-width: 5px;
  border-style: solid;
}

/* ref: https://stackoverflow.com/questions/396145/how-to-vertically-center-a-div-for-all-browsers */
.vertically-centered {
  display: table-cell;
  vertical-align: middle;

  border-color: black;
  border-width: 5px;
}

.container {
  width: 60vw;
  margin-left: 20vw;
  margin-right: 20vw;
}
